* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
}

body {
    width: 100%;
    background-color: #d2d2e6;
    background-image: url(../TemplateData/img/splash-clouds.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#container{
    width: 100%;
    display: flex;
    align-items: center;
}

nav {
    height: 60px;
    width: 100%;
    display: flex;
    align-content: center;
    justify-content: flex-end;
    border: 1px solid red;
}

nav ul {
    display: flex;
    flex-direction: row;
    width: 30%;
    border: 1px solid red;
}

.item {
    display: block;
    color: #3639a4;
    font-weight: 600;
}

a:visited {
    color: #3639a4;
}

a:hover {
    color: #4d51c5;
}

section {
    width: 1200px;
    height: auto;
    margin-top: 24px;
    display: flex;
    flex-direction: column;
}

h1, h2 {
    color: #3639a4;
    margin-bottom: 24px;
    text-align: center;
}

.columns {
    width: 1024px;
    height: auto;
    padding: 24px;
    display: flex;
    flex-direction: row;
}

.side {
    width: 50%;
    height: auto;
}

.side img {
    width: 80%;
    height: auto;
}