* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #d2d2e6;
    background-image: url(TemplateData/img/splash-clouds.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

h1{
    color: #3639a4;
}

nav {
    max-height: 80px;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    padding: 24px;
}

nav ul {
    display: flex;
    flex-direction: row;
    margin-right: 32px;
}

.item {
    display: block;
    color: #3639a4;
    font-weight: 500;
    padding-right: 24px;
}