* {
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    font-family: "Roboto", sans-serif;
    letter-spacing: 2px;
}

body {
    padding: 0;
    margin: 0;
    background-color: #d2d2e6;
    background-image: url(TemplateData/img/splash-clouds.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

nav {
    max-height: 80px;
    width: 100%;
    /*display: none;*/
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    padding: 24px;
}

nav ul {
    display: flex;
    flex-direction: row;
}

.item {
    display: block;
    color: #3639a4;
    font-weight: 600;
    padding-right: 24px;
}

a:visited{
    color: #3639a4;
}

a:hover{
    color: #4d51c5;
}

section{
    width: 1024px;
    height: auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2{
    color: #3639a4;
    margin-bottom: 24px;
    text-align: center;
}

.columns{
    width: 1024px;
    height: auto;
    padding: 24px;
    display: flex;
    flex-direction: row;
}

.side{
    width: 50%;
    height: auto;
}

.side img{
    width: 80%;
    height: auto;
}